<!DOCTYPE html>
<html lang="en">
<%- include("./includes/head.ejs") %>
    <link rel="stylesheet" href="/css/admin/navbar.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
    <link rel="stylesheet" href="/css/admin/home.css">

    <title>Dashboard</title>
    </head>

    <body>
        <%- include("./includes/admin.navbar.ejs") %>
            </nav>
            <div class="row">
                <%- include("./includes/sidebar.ejs") %>
            </div>
            <div class="col-lg-9 table-div">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(user of users) { %>
                        <tr>
                            <td scope="row"><%= user._id %></td>
                            <td><%= user.name %></td>
                            <td><%= user.image %></td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            </div>

            <%- include("./includes/scripts.ejs") %>
    </body>

</html>