<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/admin/navbar.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
    <link rel="stylesheet" href="/css/admin/home.css">

    <title>Dashboard</title>
    </head>

    <body>
        <%- include("../includes/admin.navbar.ejs") %>
            </nav>
            <div class="row">
                <%- include("../includes/sidebar.ejs") %>
            </div>
            <div class="col-lg-9 table-div">
                <form method="post" action="/admin/category/add" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="descriptionAr">Arabic Description</label>
                        <input type="text" class="form-control" id="descriptionAr" name="descriptionAr"
                            placeholder="Enter Description In Arabic">

                        <label for="descriptionEn">English Description</label>
                        <input type="text" class="form-control" id="descriptionEn" name="descriptionEn"
                            placeholder="Enter Description In English">

                        <label for="baseCategory">Base Category ID</label>
                        <input type="text" class="form-control" id="baseCategory" name="baseCategory"
                            placeholder="Enter Base Category ID">

                        <label for="image">Image</label>
                        <input type="file" class="form-control" id="image" name="image">


                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            </div>

            <%- include("../includes/scripts.ejs") %>
    </body>

</html>