<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/admin/navbar.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
    <link rel="stylesheet" href="/css/admin/home.css">

    <title>Dashboard</title>
    </head>

    <body>
        <%- include("../includes/admin.navbar.ejs") %>
            </nav>
            <div class="row">
                <%- include("../includes/sidebar.ejs") %>
            </div>
            <div class="col-lg-9 table-div">
                <div class="row">
                    <a href="/admin/category/add" class="btn btn-primary add-new-button">Add New Category</a>
                </div>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">AR-Name</th>
                            <th scope="col">EN-Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Base</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(category of categories) { %>
                            <tr>
                                <td scope="row">
                                    <%= category._id %>
                                </td>
                                <td>
                                    <%= category.descriptionAr %>
                                </td>
                                <td>
                                    <%= category.descriptionEn %>
                                </td>
                                <td>
                                    <img style="height:50px;width:50px" src="<%= category.image %>"
                                    alt="image" />
                                </td>
                                <td>
                                    <%= category.baseCategory %>
                                </td>
                                <td>
                                    <button class="btn btn-primary">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            </div>

            <%- include("../includes/scripts.ejs") %>
    </body>

</html>