<!-- Footer 
<footer class="footer">


    <div class="container">


        <h6>تابعونا:</h6>
        <ul class="row row-right">
            <li>
                <ul class="social-ul">
                    <li><img class="social-image" src="/public/images/facebook.png" </li>
                    <li>فيسبوك</li>
                </ul>
            </li>
            <li>
                <ul class="social-ul">
                    <li><img class="social-image" src="/public/images/youtube.png" </li>
                    <li>يوتيوب</li>
                </ul>
            </li>

        </ul>


    </div>



    <div class="footer-copyright text-center py-3 copyright-div">© 2020 Copyright:
        <a href="/">3ndak</a>
    </div>


     Footer -->

<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-6">
                    <h4>Follow Us</h4>
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2021 - 3ndak ! . All rights reserved.</p>
                </div>
            </div>


        </div>
    </div>