<nav id="main-nav" class="navbar navbar-expand-lg navbar-dark nav-style scrolled-navbar">
    <a class="navbar-brand" href="#">عندك !</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">الرئيسية <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/offers">العروض الخاصة</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">بحث</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown custom-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    المزيد
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">راسلنا</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">عن الموقع</a>
                </div>
            </li>
        </ul>
    </div>
</nav>