<!DOCTYPE html>
<html lang="en">

<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/admin/login.css">
    <title>Document</title>
    </head>

    <body>
            <!-- Start Form -->
            <div class="container">
                <form method="post" action="/admin/login">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <!-- End Form -->

            <%- include("../includes/scripts.ejs")%>
                </script>
    </body>

</html>