/*.footer {
    bottom: 0;
    background-color: var(--secondary-color);
    margin-top: 3rem;
    padding-top: 1rem;
}

ul.row {
    list-style: none;
}

.row-right {
    justify-content: end;
    margin-top: 1rem;
}

.copyright-div {
    color: var(--primary-color);
    font-size: .8rem;
}

.social-image {
    width: 30px;
    height: 30px;
}

.social-ul {
    list-style: none;
    color: var(--primary-color);
}

.social-ul>li {
    font-size: .8rem;
}

.footer>.container>h6 {
    text-align: right;
    color: var(--primary-color);
}

.footer>.container>.row {
    padding: 0;
    margin-bottom: 0;
}

.footer>.container {
    padding: 0;
}*/

footer .row {
    margin-bottom: 0;
}

footer {
    background: var(--banner-color);
    /* background: -webkit-linear-gradient(59deg, #3A6073, var(--secondary-color));
    background: linear-gradient(59deg, #3A6073, var(--secondary-color)); */
    color: white;
    margin-top: 100px;
    margin-bottom: -50px;
    direction: ltr;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoYoutube:hover {
    background-color: #d62013;
}

.social-network a.icoFacebook:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoYoutube:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

footer .col-xs-12.col-md-6 {
    margin-bottom: .8rem;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}