:root {
    --primary-color: white;
    --secondary-color: #0d1728;
    --dark-text-color: black;
    --light-text-color: #9fabc0;
    --active-color: #fc195a;
    --secondary-green: #04e690;
    --secondary-blue: #3ab1f4;
    --light-secondary: #2a3342;
    --secondary-red: #fc195a;
    --banner-color: #0d1728e6;
}

@font-face {
    font-family: Lemonada;
    src: url(/fonts/Lemonada-Regular.ttf);
}

body {
    direction: rtl;
    font-family: Lemonada;
    background-color: var(--secondary-color);
    background-image: url("/public/images/bg5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color);
    text-align: center;
}

selector {
    background: linear-gradient(270deg, rgb(107, 116, 168), rgb(42, 47, 76));
    background-size: 400% 400%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}