.main-carousel-banner {
    background-color: hsl(231deg 29% 23%);
    border-radius: 5px;
}

.row {
    justify-content: space-around;
    margin-bottom: 50px;
}

.card {
    margin-top: 10px;
    margin-bottom: 2rem;
    position: relative;
    width: 250px;
    height: 350px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #2196f3;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card .imgbox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .imgbox img {
    max-width: 100%;
    transition: 0.5s;
}

.card:hover .imgbox img {
    max-width: 65%;
}

.card .contentbx {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card .contentbx h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentbx .price {
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .contentbx .buy {
    position: relative;
    opacity: 0;
    top: 200px;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .contentbx .buy {
    opacity: 1;
    top: 0;
}

.buy:hover {
    box-shadow: 0px 0px 2px var(--secondary-blue), 0px 0px 5px var(--secondary-blue), 0px 0px 10px var(--secondary-blue), 0px 0px 12px var(--secondary-blue);
}

.alt-price {
    color: #a6a6a6;
    font-size: .8rem;
    text-decoration: line-through;
    margin-top: -.1rem;
}

.main-price {
    color: #c5c5c5;
    font-size: 1.2rem;
}

.btn-primary {
    background-color: hsl(222deg 66% 62%);
    border: none;
}

.offer-mark {
    background-color: red;
    color: white;
    width: 100%;
    height: 1.8rem;
    position: absolute;
    transform: rotate(-45deg);
    top: 1.7rem;
    left: -5.6rem;
    animation: rotateOffer 2s infinite linear;
    box-shadow: 2px 2px 7px black;
    z-index: 2;
}

.new-mark {
    color: white;
    background-color: #4c6ad6;
    position: absolute;
    transform: rotate( 25deg);
    padding: 1rem;
    top: 9rem;
    border-radius: 50%;
    animation: newMark 3s infinite linear;
    z-index: 2;
}

.pagination {
    direction: ltr;
    display: block;
    margin: auto;
}

.pagination>li {
    display: inline-block;
    margin: -2px;
}

.banner-container {
    max-width: 100vw;
    /* background-color: #00000059; */
    background-color: #0d1728e6;
    height: 33vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
    text-align: center;
}

.banner-container>h1 {
    width: 100%;
    position: absolute;
    right: -33vw;
    top: 100px;
    color: var(--primary-color);
}

.banner-container>p:first-of-type {
    width: 100%;
    position: absolute;
    top: 130px;
    right: 0;
    color: var(--primary-color);
    font-size: 2rem;
    background: -webkit-linear-gradient(60deg, #edb364 55%, #725ce0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background-clip: text;
}

.banner-container>p:last-of-type {
    width: 100%;
    position: absolute;
    top: 200px;
    right: 0;
    color: var(--primary-color);
    font-size: 2rem;
    background: -webkit-linear-gradient(60deg, #edb364 55%, #725ce0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
}

.banner-container>a {
    position: absolute;
    top: 300px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    border-radius: 50px;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.2s;
}

.banner-container>a:hover {
    text-decoration: none;
    box-shadow: 0px 0px 2px var(--primary-color), 0px 0px 5px var(--primary-color), 0px 0px 8px var(--primary-color), 0px 0px 10px var(--primary-color);
}

@-webkit-keyframes newMark {
    0% {
        background-color: #4c6ad6;
        box-shadow: none;
    }
    25% {
        background-color: red;
        box-shadow: 2px 2px 7px black;
    }
    50% {
        background-color: #4c6ad6;
        box-shadow: 2px 2px 7px black;
    }
    75% {
        background-color: red;
        box-shadow: 2px 2px 7px black;
    }
    100% {
        background-color: #4c6ad6;
        box-shadow: none;
    }
}

@keyframes newMark {
    0% {
        background-color: #4c6ad6;
        box-shadow: none;
    }
    25% {
        background-color: red;
        box-shadow: 2px 2px 7px black;
    }
    50% {
        background-color: #4c6ad6;
        box-shadow: 2px 2px 7px black;
    }
    75% {
        background-color: red;
        box-shadow: 2px 2px 7px black;
    }
    100% {
        background-color: #4c6ad6;
        box-shadow: none;
    }
}

@-webkit-keyframes rotateOffer {
    0% {
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    35% {
        transform: rotate(-50deg);
    }
    42% {
        transform: rotate(-55deg);
    }
    50% {
        transform: rotate(-50deg);
    }
    60% {
        transform: rotate(-45deg);
    }
    65% {
        transform: rotate(-40deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes rotateOffer {
    0% {
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    35% {
        transform: rotate(-50deg);
    }
    42% {
        transform: rotate(-55deg);
    }
    50% {
        transform: rotate(-50deg);
    }
    60% {
        transform: rotate(-45deg);
    }
    65% {
        transform: rotate(-40deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@media(max-width: 1023px) {
    .banner-container>p:first-of-type {
        top: 10vw;
        font-size: 2.5vw;
    }
    .banner-container>p:last-of-type {
        top: 15vw;
        font-size: 2vw;
    }
    .banner-container>a {
        top: 25vw;
        font-size: 2vw;
    }
}

@media(max-width: 479px) {
    .banner-container>p:first-of-type {
        top: 15vw;
        font-size: 2.5vw;
    }
    .banner-container {
        height: 36vw;
    }
    .banner-container>p:last-of-type {
        top: 20vw;
        font-size: 2vw;
    }
    .banner-container>a {
        top: 30vw;
        font-size: 1.8vw;
    }
}