.with-nav-body {
    padding-top: 6rem;
}

.nav-style {
    background-color: transparent;
    color: var(--primary-text);
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 40px 50px;
    transition: all .3s ease-in-out;
}

.scrolled-navbar {
    background-color: var(--secondary-color);
    height: 3rem;
}

.navbar-dark .navbar-brand {
    color: var(--light-text-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--light-text-color);
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: var(--primary-color);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    transition: color .3s ease;
}

.nav-item.dropdown.custom-dropdown>a {
    color: var(--secondary-color);
    transition: color, background-color .3s linear;
    border-radius: 100px;
}

.nav-item.dropdown.custom-dropdown:hover>a {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 100px;
}

.nav-item.dropdown {
    background-color: var(--primary-color);
    border-radius: 100px;
    color: black;
    margin: 4px;
}

.nav-item.dropdown:hover {
    background-color: var(--secondary-color);
    border-radius: 100px;
    margin: 4px;
}

/* .navbar-toggler-icon {
    color: var(--text-color);
} */

@media(max-width: 1023px) {
    .navbar-collapse {
        background-color: var(--secondary-color);
    }
    #main-nav {
        padding: 20px 50px 50px 30px;
    }
}

@media(max-width: 479px) {
    .navbar-collapse>ul {
        padding-right: 0;
    }
    .navbar-brand {
        font-size: 1rem;
        margin-right: 0;
    }
    .navbar-toggler {
        font-size: 1rem;
        padding: .1rem .4rem;
    }
    .nav-link {
        font-size: .8rem;
    }
}