.row {
    justify-content: space-around;
    margin-bottom: 50px;
}

.card {
    margin-top: 10px;
    position: relative;
    width: 250px;
    height: 350px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #2196f3;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card .imgbox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .imgbox img {
    max-width: 100%;
    transition: 0.5s;
}

.card:hover .imgbox img {
    max-width: 65%;
}

.card .contentbx {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card .contentbx h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentbx .price {
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .contentbx .buy {
    position: relative;
    opacity: 0;
    top: 200px;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .contentbx .buy {
    opacity: 1;
    top: 0;
}

.alt-price {
    color: #a6a6a6;
    font-size: .8rem;
    text-decoration: line-through;
    margin-top: -.1rem;
}

.main-price {
    color: #c5c5c5;
    font-size: 1.2rem;
}

.offer-mark {
    background-color: red;
    color: white;
    width: 100%;
    height: 1.8rem;
    position: absolute;
    transform: rotate(-45deg);
    top: 1.7rem;
    left: -5.6rem;
    animation: rotateOffer 2s infinite linear;
    box-shadow: 2px 2px 7px black;
    z-index: 2;
}

.new-mark {
    color: white;
    background-color: #4c6ad6;
    position: absolute;
    transform: rotate( 25deg);
    padding: 1rem;
    top: 9rem;
    border-radius: 50%;
    animation: newMark 3s infinite linear;
    z-index: 2;
}

.main-container {
    padding-top: 300px;
    padding-right: 500px;
}

.pagination {
    direction: ltr;
    display: block;
    margin: auto;
}

.pagination>li {
    display: inline-block;
    margin: -2px;
}