hr {
    background-color: #ffffff3d;
}

.images-div {
    padding: 20px
}

.main-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    /* border: 2px solid hsl(154deg 92% 66%); */
}

.thumbnail-div {
    cursor: pointer;
}

.thumbnail-image {
    width: 100%;
    border-radius: 5px;
}

.thumbnail-div:hover>.overlay {
    background-color: #00000094;
    border-radius: 5px;
}

.overlay {
    background-color: #59f8b300;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    transition: all .5s ease;
    border-radius: 5px;
}

.specification-div {
    padding: 20px;
    color: white;
    background-color: #2151689e;
}

.specification-title {
    text-align: right;
}

.left-row {
    flex-direction: row-reverse;
    padding-left: 50px;
}

.youtube-container {
    color: white;
    padding: 20px;
}

.youtube-container>h6 {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 2px;
    -webkit-animation: backgroundKeyframe 2s infinite linear;
    animation: backgroundKeyframe 5s infinite linear;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(89, 248, 179, 0.699));
    background-size: 400% 400%;
}

.youtube-container>a {
    color: white;
}

.prop-row {
    margin-bottom: 1rem;
}

@-webkit-keyframes backgroundKeyframe {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media(max-width: 767px) {
    .left-row {
        padding: 0;
    }
}

@media(max-width: 576px) {
    .specification-div {
        margin: 1rem;
    }
}