<!DOCTYPE html>
<html lang="en">

<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/search/index.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>Search</title>
    </head>

    <body>
        <%- include ("../includes/navbar.ejs")%>
            </nav>

            <!-- Start Body -->
            <div >
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <div id="search-form" class="search-form">
                            <div class="form-header">
                                <h5>البحث:</h5>
                                <span class="caret"><i id="caret-toggle" data-toggle="open" class="fa fas fa-caret-up"></i></span>
                            </div>
                            <hr />
                            <form method="post" action="/search">
                                <div class="form-group">
                                    <label for="status">الحالة</label>
                                    <select class="form-control" id="status" name="status">
                                        <% if(status=="جديد" ) { %>
                                            <option selected value="جديد">جديد</option>
                                            <option value="مستعمل">مستعمل</option>
                                            <% } else { %>
                                                <option value="جديد">جديد</option>
                                                <option selected value="مستعمل">مستعمل</option>
                                                <% } %>
                                    </select>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label for="sort">فرز النتائج حسب</label>
                                    <select class="form-control" id="sort" name="sort">
                                        <% if(sort==="price-asc" ) { %>
                                            <option selected value="price-asc">السعر تصاعدياً</option>
                                            <option value="price-desc">السعر تنازلياً</option>
                                            <option value="date-asc">تاريخ النشر تصاعدياً</option>
                                            <option value="date-desc">تاريخ النشر تنازلياً</option>
                                            <% } else if(sort==="price-desc" ) { %>
                                                <option value="price-asc">السعر تصاعدياً</option>
                                                <option selected value="price-desc">السعر تنازلياً</option>
                                                <option value="date-asc">تاريخ النشر تصاعدياً</option>
                                                <option value="date-desc">تاريخ النشر تنازلياً</option>
                                                <% } else if(sort==="date-asc" ) { %>
                                                    <option value="price-asc">السعر تصاعدياً</option>
                                                    <option value="price-desc">السعر تنازلياً</option>
                                                    <option selected value="date-asc">تاريخ النشر تصاعدياً</option>
                                                    <option value="date-desc">تاريخ النشر تنازلياً</option>
                                                    <% } else if(sort==="date-desc" ) { %>
                                                        <option value="price-asc">السعر تصاعدياً</option>
                                                        <option value="price-desc">السعر تنازلياً</option>
                                                        <option value="date-asc">تاريخ النشر تصاعدياً</option>
                                                        <option selected value="date-desc">تاريخ النشر تنازلياً</option>
                                                        <% } else { %>
                                                            <option value="price-asc">السعر تصاعدياً</option>
                                                            <option value="price-desc">السعر تنازلياً</option>
                                                            <option value="date-asc">تاريخ النشر تصاعدياً</option>
                                                            <option value="date-desc">تاريخ النشر تنازلياً</option>
                                                            <% } %>

                                    </select>
                                </div>
                                <button id="submit-button" type="submit" class="btn btn-primary">بحث</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <div class="search-result">
                            <% if(products) { %>
                                <div class="row">
                                    <% for(let post of products) { %>
                                        <div calss="col-sm-6 col-md-4">
                                            <div class="card">
                                                <% if(post.isOffer) {%>
                                                    <div class="offer-mark">عرض خاص</div>
                                                    <% } %>
                                                        <% if(post.status=="جديد" ) { %>
                                                            <div class="new-mark">جديد</div>
                                                            <% } %>
                                                                <div class="imgbox">
                                                                    <img src="<%= post.images[0] %>">
                                                                </div>
                                                                <div class="contentbx">
                                                                    <h3>
                                                                        <%= post.properties[0].value %>
                                                                    </h3>
                                                                    <h3 class="price">
                                                                        <%= post.mainPrice.amount %>
                                                                            <%= post.mainPrice.currency %>
                                                                    </h3>
                                                                    <a href="/post/<%= post._id %>" class="buy">عرض
                                                                        التفاصيل</a>
                                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- Start Pagination -->
                                <nav aria-label="..." class="pagination-nav">
                                    <ul class="pagination">
                                        <li class="<%= 1<page? 'page-item' : 'page-item disabled'%>">
                                            <span class="page-link" href="/search/<%= page-1 %>">السابق</span>
                                        </li>
                                        <% for(let i=1; i<=pages; i++) { %>
                                            <% if(i==page) { %>
                                                <li class="page-item active">
                                                    <span onclick="paginationClickHandler('<%= i %>')" class="page-link"
                                                        href="/search/<%=i%>">
                                                        <%=i%><span class="sr-only">(current)</span>
                                                    </span>
                                                </li>
                                                <% } else {%>
                                                    <li class="page-item"><span class="page-link" href="/search/<%=i%>">
                                                            <%=i%>
                                                        </span></li>
                                                    <% } %>
                                                        <% } %>
                                                            <li
                                                                class="<%= page<pages? 'page-item' : 'page-item disabled'%>">
                                                                <span class="page-link"
                                                                    href="/search/<%= page+1 %>">التالي</span>
                                                            </li>
                                    </ul>
                                </nav>
                                <!-- End Pagination -->
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Body -->
            <%- include("../includes/scripts.ejs")%>
                <script src="/scripts/search/index.js"></script>
                </script>
    </body>

</html>