.search-form {
    background-color: var(--secondary-color);
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    padding: 7rem 0.3rem 0 .3rem;
    width: 24%;
    text-align: right;
    overflow: hidden;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.form-header>h5 {
    display: inline-block;
}

.caret {
    padding: .2rem;
    cursor: pointer;
}

.caret:hover {
    color: #2196f3;
}

hr {
    background-color: #5e85de;
}

.search-result {
    text-align: center;
    perspective: 600px;
    padding-top: 5rem;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.form-control {
    padding: 3px;
    height: auto;
    font-weight: 100;
    font-size: .8rem;
}

.pagination-nav {
    width: 73vw;
}

.page-link {
    cursor: pointer;
}

@media(max-width:767px) {
    .search-form {
        background-color: var(--banner-color);
        position: static;
        height: 26rem;
        width: 100%;
        padding: 7rem 1.3rem 1rem 1.3rem;
        transition: height .5s;
        -webkit-transition: height .5s;
    }
    .closed-search-form {
        height: 11rem !important;
        transition: height .5s;
        -webkit-transition: height .5s;
    }
    .pagination-nav {
        width: unset;
    }
}