<div class="col-lg-3 side-container">
    <h3 class="dashbard-title">Dashboard</h3>
    <ul class="list-group">
        <a href="/admin"><li class="<%= path=='/admin'? 'list-group-item active': 'list-group-item' %>">Users</li></a>
        <a href="/admin/category"><li class="<%= path=='/admin/category'? 'list-group-item active': 'list-group-item' %>">Categories</li></a>
        <a href="/admin/product"><li class="<%= path=='/admin/product'? 'list-group-item active': 'list-group-item' %>">Products</li></a>
        <a href="/admin/logout"><li class="<%= path=='/admin/logout'? 'list-group-item active': 'list-group-item' %>">Logout</li></a>
    </ul>