@font-face {
    font-family: Lemonada;
    src: url(/fonts/Lemonada-Regular.ttf);
}

body {
    direction: ltr;
    /* font-family: Lemonada; */
    font-style: italic;
    background-color: hsl(231deg 29% 23%);
    text-align: center;
    height: 3000px;
}