.table-div {
    padding: 0;
}

.table.table-striped.table-dark {
    background-color: #2a2f4c;
}

.add-new-button {
    margin: 2rem;
}

.form-group {
    margin-bottom: 1rem;
    color: white;
    padding: 2rem;
}

.form-group>label {
    margin-top: 2rem;

}