.nav-style {
    background-color: hsl(231deg 30% 17%);
    color: white;
}

.nav-link:hover {
    background-color: hsl(4deg 91% 68%);
    border-radius: 5px;
    color: white;
    transition: background-color 1s ease;
}