.side-container {
    padding: 30px 0 0 0;
    background-color: hsl(231deg 30% 17%);
    height: 90vh;
}

.dashbard-title {
    background-color: hsl(4deg 91% 68%);
    border-radius: 5px;
    padding: 1rem;
    color: white;
}

.list-group>a {
    text-decoration: none;
}

.list-group-item {
    background-color: hsl(231deg 30% 17%);
    color: white;
    text-align: left;
    padding-left: 2rem;
    transition: background-color .5s ease-in-out;
    border: none;
}

.list-group-item:hover {
    background-color: hsl(4deg 91% 68%);
    border: none;
    padding-left: 2rem;
}

.list-group-item.active {
    background-color: hsl(227deg 64% 58%);
    border: none;
    padding-left: 2rem;
}