<!DOCTYPE html>
<html lang="en">

<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/posts/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
    </head>

    <body>
        <%- include ("../includes/navbar.ejs")%>
            </nav>

            <!--Start Body -->
            <div class="container with-nav-body">
                <div class="row">
                    <!-- Start Specifications -->
                    <div class="col-xs-12 col-md-6 specification-div">
                        <div class="row">
                            <div class="col specification-title">الوصف:</div>
                        </div>
                        <div class="row left-row">
                            <%= post.description %>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col specification-title">المواصفات:</div>
                        </div>
                        <% for(let spec of post.properties) { %>
                            <div class="row prop-row">
                                <div class="col">
                                    <%= spec.name %>
                                </div>:<div class="col">
                                    <%= spec.value %>
                                </div>
                            </div>
                            <% } %>
                                <hr />
                                <div class="row">
                                    <div class="col specification-title">سعر البيع:</div>
                                </div>
                                <div class="row left-row">
                                    <%= post.mainPrice.amount %>
                                        <%= post.mainPrice.currency %>
                                </div>
                                <hr />
                                <% if(post.isOffer){ %>
                                    <div class="row">
                                        <div class="col specification-title">سعر قبل العرض:</div>
                                    </div>
                                    <div class="row left-row">
                                        <%= post.alternativePrice.amount %>
                                            <%= post.alternativePrice.currency %>
                                    </div>
                                    <hr />
                                    <% } %>
                                        <div class="row">
                                            <div class="col specification-title">العنوان:</div>
                                        </div>
                                        <div class="row left-row">
                                            <%= post.country %>
                                                - <%= post.city %>
                                                    - <%= post.address %>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col specification-title">للإستفسار والتفاصيل عبر الواتس أب:
                                            </div>
                                        </div>
                                        <div class="row left-row">
                                            <%= post.phone %>
                                        </div>
                    </div>
                    <!-- End Specifications -->
                    <!-- Start Images Viewer -->
                    <div class="col-xs-12 col-md-6 images-div">
                        <% if(post.youtubeUrl !="" ) { %>
                            <div class="container youtube-container">
                                <h6>شاهد مراجعة اليوتيوب الخاصة بموقعنا و المتعلقة بهذا المنتج</h6>
                                <iframe width="420" height="315" src="<%= post.youtubeUrl%>"></iframe>
                                <br />
                                <a href="<%= post.youtubeUrl%>">عرض الفيديو في نافذة كاملة</a>
                                <hr />
                            </div>
                            <% } %>
                                <div class="row"><img id="main-image" class="main-image" src="<%= post.images[0] %>" />
                                </div>
                                <hr />
                                <div class="row">
                                    <% for(let image of post.images) { %>
                                        <div class="col thumbnail-div" onclick="imageClickHandler('<%= image %>')">
                                            <img class="thumbnail-image" src="<%= image %>" />
                                            <div class="overlay"></div>
                                        </div>
                                        <% } %>
                                </div>
                                <hr />



                    </div>
                    <!-- End Images Viewer -->
                </div>
            </div>
            <!--End Body -->
            <%- include("../includes/footer.ejs")%>
                </footer>

                <%- include("../includes/scripts.ejs")%>
                    <script src="/scripts/products/index.js"></script>
                    </script>
    </body>

</html>