<!DOCTYPE html>
<html lang="en">

<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/offers.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>Document</title>
    </head>

    <body>
        <%- include ("../includes/navbar.ejs")%>
            </nav>
            <!-- Start Body -->
            <div class="container with-nav-body">
                <div class="row">
                    <% for(let post of posts){ %>
                        <div calss="col-sm-6 col-md-4">
                            <div class="card">
                                <% if(post.isOffer) {%>
                                    <div class="offer-mark">عرض خاص</div>
                                    <% } %>
                                        <% if(post.status=="جديد" ) { %>
                                            <div class="new-mark">جديد</div>
                                            <% } %>
                                                <div class="imgbox">
                                                    <img src="<%= post.images[0] %>">
                                                </div>
                                                <div class="contentbx">
                                                    <h3>
                                                        <%= post.properties[0].value %>
                                                    </h3>
                                                    <h3 class="price">
                                                        <%= post.mainPrice.amount %>
                                                            <%= post.mainPrice.currency %>
                                                    </h3>
                                                    <a href="/post/<%= post._id %>" class="buy">عرض التفاصيل</a>
                                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <!-- End Body -->

            <!-- Start Pagination -->
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="<%= 1<page? 'page-item' : 'page-item disabled'%>">
                        <a class="page-link" href="/<%= page-1 %>">السابق</a>
                    </li>
                    <% for(let i=1; i<=pages; i++) { %>
                        <% if(i==page) { %>
                            <li class="page-item active">
                                <a class="page-link" href="/<%=i%>">
                                    <%=i%><span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <% } else {%>
                                <li class="page-item"><a class="page-link" href="/<%=i%>">
                                        <%=i%>
                                    </a></li>
                                <%}%>
                                    <% } %>
                                        <li class="<%= page<pages? 'page-item' : 'page-item disabled'%>">
                                            <a class="page-link" href="/<%= page+1 %>">التالي</a>
                                        </li>
                </ul>
            </nav>
            <!-- End Pagination -->

            <%- include("../includes/scripts.ejs")%>
                </script>
    </body>

</html>