<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/admin/navbar.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
    <link rel="stylesheet" href="/css/admin/home.css">

    <title>Dashboard</title>
    </head>

    <body>
        <%- include("../includes/admin.navbar.ejs") %>
            </nav>
            <div class="row">
                <%- include("../includes/sidebar.ejs") %>
            </div>
            <div class="col-lg-9 table-div">
                <form method="post" action="/admin/product/add" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                            placeholder="Enter Description">

                        <label for="status">Status</label>
                        <select class="form-control" id="status" name="status">
                            <option value="جديد">جديد</option>
                            <option value="مستعمل">مستعمل</option>
                        </select>

                        <label for="mainPrice">Main Price</label>
                        <input type="text" class="form-control" id="mainPrice" name="mainPrice"
                            placeholder="Only Digits">

                        <label for="mainCurrency">Currency</label>
                        <input type="text" class="form-control" id="mainCurrency" name="mainCurrency"
                            placeholder="Enter Currency Name">

                        <label for="alternativePrice">Alternative Price</label>
                        <input type="text" class="form-control" id="alternativePrice" name="alternativePrice"
                            placeholder="Only Digits">

                        <label for="alternativeCurrency">Currency</label>
                        <input type="text" class="form-control" id="alternativeCurrency" name="alternativeCurrency"
                            placeholder="Enter Currency Name">

                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" name="country" placeholder="Enter Country">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Enter City">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="address"
                            placeholder="Enter Address Details">

                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Phone">

                        <label for="category">Category</label>
                        <input type="text" class="form-control" id="category" name="category"
                            placeholder="Enter Category ID">

                        <label for="youtubeUrl">Youtube URL</label>
                        <input type="text" class="form-control" id="youtubeUrl" name="youtubeUrl"
                            placeholder="Enter Youtube URL">

                        <label for="images">Images</label>
                        <input type="file" class="form-control" id="images" name="images" multiple>

                        <label for="properties">Properties</label>
                        <textarea class="form-control" id="properties" name="properties"></textarea>


                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            </div>

            <%- include("../includes/scripts.ejs") %>
    </body>

</html>