<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/admin/navbar.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
    <link rel="stylesheet" href="/css/admin/home.css">

    <title>Dashboard</title>
    </head>

    <body>
        <%- include("../includes/admin.navbar.ejs") %>
            </nav>
            <div class="row">
                <%- include("../includes/sidebar.ejs") %>
            </div>
            <div class="col-lg-9 table-div">
                <div class="row">
                    <a href="/admin/product/add" class="btn btn-primary add-new-button">Add New Product</a>
                </div>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Description</th>
                            <th scope="col">Is Offer</th>
                            <th scope="col">Main Price</th>
                            <th scope="col">Alternative Price</th>
                            <th scope="col">Country</th>
                            <th scope="col">City</th>
                            <th scope="col">Address</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Youtube Url</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(product of products) { %>
                            <tr>
                                <td scope="row">
                                    <%= product._id %>
                                </td>
                                <td>
                                    <%= product.description %>
                                </td>
                                <td>
                                    <%= product.isOffer %>
                                </td>
                                <td>
                                    <%= product.mainPrice.amount %>
                                </td>
                                <td>
                                    <%= product.alternativePrice.amount %>
                                </td>
                                <td>
                                    <%= product.country %>
                                </td>
                                <td>
                                    <%= product.city %>
                                </td>
                                <td>
                                    <%= product.address %>
                                </td>
                                <td>
                                    <%= product.phone %>
                                </td>
                                <td>
                                    <%= product.date %>
                                </td>
                                <td>
                                    <%= product.category %>
                                </td>
                                <td>
                                    <%= product.youtubeUrl %>
                                </td>
                                <td>
                                    <img style="height:50px;width:50px" src="<%= product.images[0] %>"
                                    alt="image" />
                                </td>
                                <td>
                                    <%= product.baseCategory %>
                                </td>
                                <td>
                                    <button class="btn btn-primary">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            </div>

            <%- include("../includes/scripts.ejs") %>
    </body>

</html>